ekedc/*
ekedp/*
*.png binary    
*.jpg binary
*.jpeg binary
*.gif binary
*.mp4 binary
*.mp3 binary
*.zip binary
*.rar binary


#*.csv
*.cypython
modelling/__pycache__/*
*.__pycache__
modelling/models/*
modelling/plots/*